includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - app/
        - config/
        - database/
        - routes/
        - tests/

    # Level 8 is the highest level
    level: 8

    # Check model properties
    checkModelProperties: true
    
    # Check Octane compatibility
    checkOctaneCompatibility: true

    ignoreErrors:
        -
            message: '#Undefined variable: \$this#'
            paths:
                - tests/*
        -
            message: '#Return type \(array\<string, mixed\>\) of method .+Factory::definition\(\) should be compatible#'
            paths:
                - database/factories/*
        -
            message: '#Call to an undefined method PHPUnit\\Framework\\TestCase::#'
            paths:
                - tests/*
        -
            message: '#Cannot call method .+ on App\\Models\\User\|null#'
            paths:
                - tests/*
        -
            message: '#Class Spatie\\MediaLibraryPro\\Models\\TemporaryUpload not found#'
            paths:
                - config/*